# .gitignore

## Build results
[Bb]in/
[Oo]bj/

## Environment and secrets
appsettings.*.json
!appsettings.json
appsettings.Development.json
launchSettings.json
secrets.json

## Logs
*.log

## Docker
docker-compose.override.yml